/* Add a dark gray background color to the modal header and center text */
button{
  background-color: black;
  color:white;
  font-weight: bold;
  border:1px solid black;
  padding: 7px;
  border-radius: 5px;
}

button:hover{
  background-color: green;
  color:white;
  border:1px solid red;
  padding: 7px;
  font-weight: bold;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}


  
}